---
import {Icon} from "astro-icon/components";

---
<!-- Redes Sociales -->
<div class="flex space-x-4">
    <a href="https://github.com/jorarmarfin" target="_blank" rel="noopener noreferrer" class="text-white hover:text-blue-300 ">
        <Icon name="github" class="h-8 w-8 " />
    </a>
    <a href="https://hub.docker.com/repositories/jorarmarfin" target="_blank" rel="noopener noreferrer" class="text-white hover:text-blue-300">
        <Icon name="docker" class="h-8 w-8 " />
    </a>
    <a href="https://www.linkedin.com/in/luismaytacampos" target="_blank" rel="noopener noreferrer" class="text-white hover:text-blue-300">
        <Icon name="linkedin" class="h-8 w-8 " />
    </a>
</div>